<div class="bottom">
        <p class="btn-list">
            <a target="_blank" href="/file/html/about.html">关于我们</a>
            <a target="_blank" href="/file/html/serviceAgreement.html">用户服务协议</a>
            <a target="_blank" href="/file/html/privacy.html">隐私政策</a>
            <a target="_blank" href="/file/html/copyright.html">权利声明</a>
        </p>
        <p class="ICP-ID">
            <span>国药健业（义乌）贸易有限公司</span>
            <span>沪ICP备1123123123号</span>
        </p>
        <p class="contact">
            <span>浙江省义乌市北苑街道机场路596号209-1</span>
            <span>座机：(021)62968756</span>
        </p>
    </div>