<h1>index</h1>
<p>
   <span> data</span><br>
    <span> list</span><br>
    <span> 热门歌曲</span><br>
   <span> {{data}}</span><br>
   <hr>
   <span> data1</span><br>
    <span> list</span><br>
    <span> 歌手推荐</span><br>
   <span> {{data1}}</span><br>
   <hr>
   <span> data2</span><br>
    <span> list</span><br>
    <span> 排行榜1</span><br>
   <span> {{data2}}</span><br>
   <hr>
   <span> data3</span><br>
    <span> list</span><br>
    <span> 排行榜2</span><br>
   <span> {{data3}}</span><br>
   <hr>
   <span> data4</span><br>
    <span> list</span><br>
    <span> 排行榜3</span><br>
   <span> {{data4}}</span><br>
   
</p>
