<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>权利声明</title>
    <link rel="stylesheet" href="/file/css/css.css">
</head>

<body>
    <div id="main">
        <div id="about">
            <div class="about-title">权利声明</div>
            <div class="about-content">
                <p class="main-body">爱音乐非常重视和尊重他人的知识产权和合法权益，严格遵守知识产权等法律法规，依法保护知识产权权利人和用户的合法权益，为广大用户提
                    供优质正版的网络音乐服务。若您认为您的知识产权或合法权益被侵犯，可书面通知爱音乐要求删除侵权内容或者断开侵权链接。如果通知人弄
                    虚作假或陈述失实，将需承担因此导致的一切法律责任（包括但不限于赔偿损失、诉讼费、律师费、取证费用等）。如果您不确定相关内容是否
                    侵犯了自己的知识产权和其他合法权益，建议您先咨询相关专业人士。</p>
            </div>
        </div>
    </div>
</body>

</html>